---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog', p => !p.data.draft).then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Blog Yazılarım'
  description='Blog | Bu sayfada blog yazılarını bulabilirsiniz.'
  pageTitle='Blog Yazılarım'
>
  <main class='bg-green p-6'>
    <BlogList posts={posts} />
  </main>
</Layout>
